<html>

<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript" src="js/model.js"></script>
	<script type="text/javascript" src="js/view.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css"  crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.css"  crossorigin="anonymous">
</head>
<style>
.table{
width:28%;
}
.h {
 border: 3px solid;
 }
</style>
<body>
	<div class="page-header">
	  <h1>StopWatch App <small>-Namrata Bhuva</small></h1>
	</div>
<div class="container">
<div id="one" class="jStopWatch container-fluid">
	<h3><u>Stopwatch 1</h3></u>
	<button class="jStart btn btn-primary"> Start </button>
	<button class="jStop btn btn-danger" disabled> Stop </button>
	<button class="jReset btn btn-warning"> Reset </button>
<hr/>
	<div>
	<span class="jTimerDisplay"> </span>
	<button class="jSplit btn btn-info" disabled> Split </button>
	</div>
	<hr/>
	<div class="jHistory">
	</div>
</div>
<hr class="h"/>
<div id="two" class="jStopWatch container-fluid">
	<h3><u>Stopwatch 2</u></h3>
	<button class="jStart btn btn-primary"> Start </button>
	<button class="jStop btn btn-danger" disabled> Stop </button>
	<button class="jReset btn btn-warning"> Reset </button>

	<div>
	<hr/>
	<span class="jTimerDisplay"> </span>
	<button class="jSplit btn btn-info" disabled> Split </button>
	</div>
	<hr/>
	<div class="jHistory">
	</div>
</div>

<hr class="h"/>
<div id="three" class="jStopWatch container-fluid">
	<h3><u>Stopwatch 3</u></h3>
	<button class="jStart btn btn-primary"> Start </button>
	<button class="jStop btn btn-danger" disabled> Stop </button>
	<button class="jReset btn btn-warning"> Reset </button>

	<div>
	<hr/>
	<span class="jTimerDisplay"> </span>
	<button class="jSplit btn btn-info" disabled> Split </button>
	</div>
	<hr/>
	<div class="jHistory">
	</div>
</div>

</div>


<script type="text/x-handlebars-template" id="historyTemplate">
	<div class="container-fluid">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>Total Time</th>
				<th>Lap Time</th>
				</tr>
			</thead>

			<tbody>
			{{#each history}}
				<tr>
					<td> {{totalTime}} </td>
					<td> {{lapTime}} </td>
				</tr>
			{{else}}
			<tr>
    			<td colspan="2">Please Click the Start button to start Stopwatch!!!</td>
  			</tr>
			{{/each}}
			</tbody>			
		</table>
	</div>
</script>
</body>
</html>
